*{
	box-sizing: border-box;
}


.container
{
	margin-top:0px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:50px;
	min-height: 100%;
}

#hint
{
	font-family: 'IM Fell French Canon SC', serif;
	text-align: left;
	display: block;
	margin-left: auto;
    margin-right: auto

}

#score, #guessleft
{
	font-family: 'Spectral SC', serif;
	font-size: 20px;
	text-align: left;
	color:#315f68;
}

#dash
{
	letter-spacing: 5px;
	font-size:38px;
	font-family: 'IM Fell French Canon SC', serif;
	color:black;
}

#wrongguesses
{
	letter-spacing: 5px;
	font-size:20px;
	font-family: 'IM Fell French Canon SC', serif;
	color:#c3c4c9;

}

strong
{
	color:#7c6f79;
}

#main
{
	margin-top:5%;
	margin-bottom:5%;
	margin-left:20%;
	margin-right: 20%;
	padding:2%;
	background-color: white;
	color:black;
	font-size:12px;
	border: 1px double grey;
	text-align: center;
}

#welcome
{
	text-align:left;
	margin-left: auto;
	margin-right: auto;
}

body
{
	margin-left:auto;
	margin-right:auto;
	color:#777777;
	background-color:#ffffff;
	line-height:150%;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	font-size:12px;
	font-family:"Arial", "Helvetica Neue", Helvetica, sans-serif;
}



h1
{
	font-size:40px;
	font-weight: strong;
	color:566568;
	font-family: 'Cinzel Decorative', cursive;
}

h2
{
	font-size:18px;
	color:#225372;
	font-weight:strong;
	background-color: white;
	font-family: 'Spectral SC', serif;
	padding:15px;
	
}

#intro
{
	text-align:center;
}

span
{
	
    width: 0.7em;
    font-size: 28px;
    font-family: algerian, courier;
    line-height: 80%;
    color:#225372;
}

h3
{
	color:#5f515c;
	font-size:18px;
	font-weight:strong;
	font-family:"Arial", "Helvetica Neue", Helvetica, sans-serif;
}

#title
{
	text-align: center;
	line-height: 0.2;

}

#hint1, #hint2, #hint3, #hint4, #hint5, #hint6,
#hint7, #hint8, #hint9, #hint10, #hint11,#hint12
{
	width:50%;
	border: 1px double grey;
}


